.navbar {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 88px;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  z-index: 999;
  .container {
    width: 100%;
    height: 22px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 11px;
    .navbar-left {
      flex: auto;
      display: flex;
      width: 50%;
      align-items: center;
      cursor: pointer;
    }
    .navbar-center {
      flex: 1 1 none;
      width: 175px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
    }
    .navbar-right {
      flex: auto;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 15px;
      color: #242424;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

.navbar-booth {
  height: 88px;
}